<map name="foo">
	<!-- should have omitted end tag -->
	<area>

	<!-- require <map> ancestor but not as direct parent -->
	<span>
		<area>
	</span>

	<!-- should allow shape attribute -->
	<area shape="rect">
	<area shape="circle">
	<area shape="poly">
	<area shape="default">
</map>

<!-- has alt when required -->
<map name="bar">
	<area href="target" alt="lorem ipsum">
</map>
